<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
  
  
    <add key="UrlChrome" value="http://shwet:Welcome_068@ws08r2/gfnlaunch" />
    <add key="UrlIE" value="http://ws08r2/gfnlaunch" />
    <add key="Colco" value="Pilipines Shell Petroleum Corp" />
    <add key="env" value="prod" />
    <add key="gridRun" value="Y" />
  
  
    <!---Default login credentials-->
    <add key="Browser" value="Chrome" />
    <add key="Username" value="rahul@bugzila.com" />
    <add key="Password" value="welcome" />
    <add key="PageLoadTimeout" value="240" />
    <add key="ElementLoadTimeout" value="2" />
    <!---UAT credentials-->
    <!---PROD credentials-->
     <!---Paths-->
    <add key="xlspath" value="" />

  <add key="srow" value="2" />
  <add key="erow" value="2" />
  <add key="paymentsrow" value="2" />
  <add key="paymenterow" value="5" />


   <add key="chromedriver" value="" />
   <add key="iedriver" value="" />
   <add key="reportFolder" value="" />
  
   <add key="TestDataFilepath" value="D:\Shell Framework\AutomationFramework -Nunit - Parallel\AutomationFramework\Test\Data" />
   <add key="logFilePath" value="D:\Shell Framework\AutomationFramework -Nunit - Parallel\AutomationFramework\Test\Logs" />
   <add key="downloadFilepath" value="D:\Shell Framework\AutomationFramework -Nunit - Parallel\AutomationFramework\Test\Downloads" />
   
  <!---DB credentials-->
  
     <add key="DBUserName" value="" />
     <add key="DBPassword" value="" />
     <add key="DBServerName" value="ws16" />
     <add key="PH_OLTP_DB" value="GFN_SHELL_PH_OLTP" />
     <add key="PH_BATCH_DB" value="GFN_SHELL_PH_BATCH" />
     <add key="IntegratedSecurity" value="SSPI" />
     <add key="PersistSecurityInfo" value="False" />
   </appSettings>
   <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>